.popup-item-garant {
    display: flex;
    flex-direction: row !important;
    justify-content: left !important;
    align-items: center;
    gap: 1em;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    padding: 1em !important;
}

.popup-item-garant:hover {
    background: #f0f0f0;
}

.popup-item-garant input[type="checkbox"] {
    margin-right: 10px;
}

#selected-items-others,#selected-items-others-garant {
    display: block;
    margin-top: 10px;
}

