.search-container {
    position: relative;
    width: 100%;
}

.select-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: yellow; */
    width: 22em;
    font-size: 1em;
    margin: 0 auto;
    border-radius: 0.5em;
    background: #EEEEEE;
    padding: 0.7em;
}

.select-label input {
    outline: none !important;
    border: none !important;
    background: none !important;
    color: #585856;
}

.popups {
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* display: none; */
    z-index: 10;
    font-size: 0.9em;
}

.popups {
    display: none;
    opacity: 1;
    transition: opacity 0.3s ease;
}


.visible {
    display: block;
}

.popup-item {
    /* padding: 10px; */
    cursor: pointer;
}

.popup-item:hover {
    background: #f0f0f0;
}

.popup-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* SELECT */



.icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.selected-item {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
}

.selected-item img {
    margin-left: 10px;
    width: 2em;
    height: 2em;
}

.selected-item2 {
    display: flex;
    align-items: center;
    /* padding: 1em; */
    /* margin-bottom: 10px; */
}

.selected-item2 img {
    margin-left: 10px;
    width: 2em;
    height: 2em;
}

.down-i {
    margin-right: 1em;
}

.popup-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-item img {
    margin-right: 10px;
    width: 2em;
    height: 2em;
}


.popup-item2 {
    display: flex;
    align-items: center;
    gap: 1em;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1em 0.2em;
}

.popup-item2 img {
    /* margin-right: 10px; */
    width: 2em;
    height: 2em;
}

.popup-item2:hover {
    background: var(--primary);
    color: #fff;
    cursor: pointer;
}






.tr-add-primary,
.champ,
.tr-add {
    transition: opacity 0.3s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}