.span-svg #sub-garant {
    position: absolute;
    display: none;
    width: 100%;
    top: -2%;
    text-wrap: nowrap;
    margin-left: 4em;
    padding: 0.5em 1em;
    border-radius: 1em;

    background: silver;
    width: max-content;
}